@page
@model RazorWebUI.Areas.Dashboard.Pages.Admin.IndexModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            DASHBOARD
        </h3>

         
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">

            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Total Trainings</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-dark">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Active Trainings</p>
                    </div>

                </div>
            </div>


            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Completed Trainings</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Cancelled Trainings</p>
                    </div>

                </div>
            </div>

        

            <div class="col-lg-4 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Total Facilitators</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-gradient-yellow">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Total Facilitators (Male)</p>
                    </div>

                </div>
            </div>


            <div class="col-lg-4 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-pink">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Total Facilitators (Female)</p>
                    </div>

                </div>
            </div>
        
            <div class="col-lg-4 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Total Participants</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Total Participants (Male)</p>
                    </div>

                </div>
            </div>


            <div class="col-lg-4 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-dark">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Total Participants (Female)</p>
                    </div>

                </div>
            </div>
        
            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Total Staff</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-fuchsia">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Total State Cordinator</p>
                    </div>

                </div>
            </div>


            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-navy">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Back To Work Plans</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-maroon">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Sponsors</p>
                    </div>

                </div>
            </div>
         

            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Participator Certificate</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-dark">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Facilitator Certificate</p>
                    </div>

                </div>
            </div>


            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Active Certificate</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Expired Certificate</p>
                    </div>

                </div>
            </div>
        
            <div class="col-lg-4 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Total Advert Designed</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>30%</h3>

                        <p>Percentage Shared</p>
                    </div>

                </div>
            </div>


            <div class="col-lg-4 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-dark">
                    <div class="inner">
                        <h3>70%</h3>

                        <p>Percentage Not Shared</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
