@page
@model RazorWebUI.Areas.ITrainings.Pages.BatchPage.IndexModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">MANAGE TRAININGS BATCH (@Model.Datas.Count())</h3>

        @if (User.IsInRole("Admin") || User.IsInRole("mSuperAdmin"))
        {
            <a asp-page="./Add" class="btn bg-gradient-warning btn-sm" style="float:right;">New Training Batch</a>
        }
        
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            Title
                        </th>
 
                        @if (User.IsInRole("AdminEditor"))
                        {
                            <th>Action</th>
                        }
                        </tr>
                </thead>

                @{
                    int sn = 0;
                }
                <tbody>
                    @foreach (var item in Model.Datas)
                    {
                        <tr>

                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                  @Html.DisplayFor(modelItem => item.Title)
                                 
                            </td>
                             
                        @if (User.IsInRole("AdminEditor"))
                        {
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success">Action</button>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" style="">


                                            <a class="dropdown-item" asp-page="./Update" asp-route-id="@item.Id">Edit</a>
 


                                        </div>
                                    </div>
                                </div>


                            </td>
                        }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>