@page
@model RazorWebUI.Areas.Dashboard.Pages.Account.IndexModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            DASHBOARD
        </h3>


    </div>
    <!-- /.card-header -->
    <div class="card-body">
         <div class="row">

            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Total Trainings</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-dark">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Active Trainings</p>
                    </div>

                </div>
            </div>


            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Completed Trainings</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Cancelled Trainings</p>
                    </div>

                </div>
            </div>

      

            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Total Trainings Attended</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-dark">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Total Attendance In Trainings</p>
                    </div>

                </div>
            </div>


            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>Active</h3>

                        <p>Certificate Status</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-6 dashboard-1">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Total Post Shared</p>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>